html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
}

#background-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  opacity: 0.1;
}